<!DOCTYPE html>
<html>
<head>
  <title>Агрегатор тестов</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  {% load static %}
  <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Агрегатор тестов</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#mainNav">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="mainNav">
      <ul class="navbar-nav ml-auto">
        {% if user.is_authenticated %}
          <li class="nav-item">
            <a class="nav-link" href="{% url 'home' %}">Профиль</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'home' %}">Выйти</a>
          </li>
        {% else %}
          <li class="nav-item">
            <a class="nav-link" href="{% url 'home' %}">Войти</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'home' %}">Зарегистрироваться</a>
          </li>
        {% endif %}
      </ul>
    </div>
  </nav>
  
  {% block content %}
  {% endblock %}
</body>
</html>